.top{
    padding-top: 5px;
}

.footer{
    background-color:#e6e6e6;
    width:85%;
    font-size:11px;
    text-align:center;
}

.header{
    text-align:center;
    background-color:#8ad3f7;
	padding-top: 10px;
	padding-bottom: 10px;
}
